<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layout}">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}" defer></script>
<title th:text="#{dashboardPage}"></title>
</head>
<body>

	<div layout:fragment="content" class="overflow-hidden">
		<div class="container">
			<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center border-bottom py-3 mb-3">
				<div class="fs-2" th:text="#{dashboardPage}"></div>
			</div>
			
			<!--
			<div class="col-sm-4 text-center">
				<span th:text="#{admin}" class="text-info"></span>
				<span th:text="${adminName}"></span>
			</div>
			-->
			
			<div th:text="'メンバー数 計' + ${countMembers} + '名'"></div>
			<div th:text="'アルバム数 計' + ${countAlbums} + '冊'"></div>
			
			<div class="row">
				<div class="col-lg-6 col-md-6 mb-md-0 mb-4">
					<table class="table table-striped border my-2">
						<thead>
							<tr class="text-center">
								<th scope="col">
									<div th:text="#{userTable}"></div>
								</th>
							</tr>
						</thead>
						
						<tbody class="d-block overflow-y-scroll" style="height: 250px;">
							<tr th:each="list:${memberList}" class="d-block">
								<td class="d-block align-middle py-2"
									th:text="${list.account?.username?: 'unknown'}"></td>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				
				<div class="col-lg-6 col-md-6 mb-md-0 mb-4">
					<table class="table table-striped border my-2">
						<thead>
							<tr class="text-center">
								<th scope="col">
									<div th:text="#{selectAlbumPage}"></div>
								</th>
							</tr>
						</thead>
						
						<tbody class="d-block overflow-y-scroll" style="height: 250px;">
							<tr th:each="list:${albumList}" class="d-block">
								<td class="d-block align-middle py-2">
									<form method="post" th:action="@{/select-album}">
										<button type="submit" th:text="${list.albumName}" name="id" th:value="${list.id}"
											class="rounded list-group-item list-group-item-action text-primary">
										</button>
									</form>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				
			</div>
		</div>
	</div>
</body>
</html>