<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/header.css}">
<link rel="stylesheet" th:href="@{/css/form.css}">
<title th:text="#{deleteGroupPage}"></title>
</head>
<body>
	
	<nav layout:replace="~{layout/menu::menu}"></nav>
	
	<div class="center">
		
		<form method="post" th:action="@{/delete-group}">
		
			<div th:text="#{deleteGroupAlert}"></div>
			
			<div th:text="${groups.groupName}"></div>
			<input type="hidden" name="id" th:value="${groups.id}">
		    <input type="submit" value="削除">
		</form>
		
		<form method="post" th:action="@{/select-group}">
			<input type="hidden" name="id" th:value="${groups.id}">
			<input type="submit" value="キャンセル">
		</form>
		
	</div>
</body>
</html>