<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/header.css}">
<link rel="stylesheet" th:href="@{/css/form.css}">
<title th:text="#{deleteGroupPage}"></title>
</head>
<body>
	
	<nav layout:replace="~{layout/menu::menu}"></nav>
	
	<div class="center">
		
		<form method="post" th:action="@{/delete-group}"><!--th:object="${}"-->
		
			<div th:text="#{deleteGroupAlert}"></div>
			
			<div>グループ名を表示</div>
			<div th:text="${id}"></div>
			<input type="hidden" name="id" th:value="${id}">
			
			<p>ーーーーーーーーーーーーー</p><br>
			<a th:href="@{'/home-group/' + ${id}}">form内動的キャンセル</a>
			<p>ーーーーーーーーーーーーー</p><br>
			<input type="button" onclick="location.href='./home-group'" value="form内href遷移でキャンセル">
			<p>ーーーーーーーーーーーーー</p><br>
			<input type="button" value="form内ブラウザバックキャンセル" onclick="history.back();">
			<p>ーーーーーーーーーーーーー</p><br>
			
		    <input type="submit" value="削除">
		</form>
		
		<p>ーーーーーーーーーーーーー</p><br>
		
		<form method="post" th:action="@{/select-group}">
			<input type="hidden" name="id" th:value="${id}">
			<input type="submit" value="form外もう一つのformでキャンセル">
		</form>
		
	</div>

</body>
</html>