<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/header.css}">
<link rel="stylesheet" th:href="@{/css/form.css}">
<title th:text="#{deleteGroupPage}"></title>
</head>
<body>
	
	<nav layout:replace="~{layout/menu::menu}"></nav>
	
	<div class="center">
		
		<form method="post" th:action="@{/delete-group}"><!--th:object="${}"-->
		
			<div th:text="#{deleteGroupAlert}"></div>
			
			<div>グループ名を表示(hidden)</div>
			
			<input type="button" value="キャンセル" onclick="history.back();">
		    <input type="submit" value="削除">
		</form>
		
	</div>

</body>
</html>