<!DOCTYPE html>
<html lang="ja"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layout}"
	>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}" defer></script>
	<title th:text="#{homeGroupPage}"></title>
</head>
<body>
	
	<nav layout:replace="~{common/header-nav::header-nav}"></nav>
	
	<div layout:fragment="content">

	<div class="py-4 container-fluid">
		<div class="row mb-3">
			<div class="col-lg-6 col-md-6">
				<div class="card h-100">
					<div class="pb-0 card-header">
						<h6 class="">お知らせ</h6>
						
					</div>
					<div class="p-3 card-body">
						<div class="timeline timeline-one-side"
							data-timeline-axis-style="dotted">
							<!---->
							<div class="mb-3 timeline-block">
								
								<div class="timeline-content">
									<h6 class="mb-0 text-sm font-weight-bold text-dark">何かの通知？</h6>
									<p class="mt-1 mb-0 text-xs text-secondary font-weight-normal"></p>
									
								</div>
							</div>
							<!---->
							
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-lg-3 col-md-6">
				<div class="card h-100">
					<div class="pb-0 card-header">
						<h6 class="">メンバー数</h6>
					</div>
					<div class="p-3 card-body">
						<div class="timeline timeline-one-side" data-timeline-axis-style="dotted">
							<div class="mb-3 timeline-block">
								<div class="timeline-content">
									<h1 class="mb-0 text-sm font-weight-bold text-dark">50</h1>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-lg-3 col-md-6">
				<div class="card h-100">
					<div class="pb-0 card-header">
						<h6 class="">アルバム数</h6>
						
					</div>
					<div class="p-3 card-body">
						<div class="timeline timeline-one-side" data-timeline-axis-style="dotted">
							<div class="mb-3 timeline-block">
								<div class="timeline-content">
									<h1 class="mb-0 text-sm font-weight-bold text-dark">50</h1>
									<p class="mt-1 mb-0 text-xs text-secondary font-weight-normal"></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-lg-3 col-md-6 mb-md-0 mb-4">
				<div class="card">
					
						<div class="card-header pb-0">
							<div class="row">
								<div class="col-lg-6 col-7">
									<h6>グループメンバー</h6>
								</div>
							</div>
						</div>
						<div class="card-body px-0 pb-1">
							<div class="table-responsive">
								<table class="table align-items-center mb-0">
									<thead>
										<tr>
											<th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">メンバー名</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="list:${memberList}">
											<td class="align-middle text-center text-sm"><span
												class="text-xs font-weight-bold" th:text="${list.Account?.username?: 'unknown'}"></span></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					
				</div>
			</div>
			
			<div class="col-lg-6 col-md-6 mb-md-0 mb-4">
				<div class="card">
					<div class="card-header pb-0">
						<div class="row">
							<div class="col-lg-6 col-7">
								<h6>掲示板</h6>
							</div>
						</div>
					</div>
					<div class="card-body px-0 pb-1">
						<div class="table-responsive">
							<table class="table align-items-center mb-0">
								<thead>
									<tr>
										<th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">日付</th>
										<th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">名前</th>
										<th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">コメント</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="list:${commentList}" class="text-center">
										<td th:text="${#dates.format(list.createDateTime,'yyyy-MM-dd HH:MM:SS')}"></td>
										<td th:text="${list.Account?.username?: 'unknown'}"></td>
										<td th:text="${list.comment}"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-lg-3 col-md-6 mb-md-0 mb-4">
				<div class="card">
					<div class="card-header pb-0">
						<div class="row">
							<div class="col-lg-6 col-7">
								<h6>アルバム</h6>
								
							</div>
							
						</div>
					</div>
					<div class="card-body px-0 pb-1">
						<div class="table-responsive">
							<table class="table align-items-center mb-0">
								<thead>
									<tr>
										<th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">アルバム一覧</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="list:${albumList}">
										<td class="align-middle text-center text-sm"><span
											class="text-xs font-weight-bold" th:text="${list.albumName}"></span></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>