<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/header.css}">
<link rel="stylesheet" th:href="@{/css/form.css}">
<title th:text="#{homeGroupPage}"></title>
</head>
<body>
	<nav layout:replace="~{layout/menu::menu}"></nav>
	
	<div class="center">
	
		<div th:text="${groups.groupName}"></div>
		
		<input type="button" onclick="location.href='./select-group'" value="グループ選択に戻る">
		
		<th:block th:if="${userId == groups.accountId}">
			<div th:text="#{adminAlert}"></div>		
		</th:block>
		
		<!--formを使ったほうがいい？-->
		<!--↓全てグループのID-->
		
		<!--getでIDを送る-->
		
		
		<form method="post">
			<input type="submit" value="利用者一覧を表示する">
		</form>
		
		<form method="post">
			<input type="submit" value="アルバムを使用する">
		</form>
		
		<form method="post">
			<input type="submit" value="掲示板を使用する">
		</form>
		
		<!--ーーーーーーーーーーーーーーー-->
		<form method="post" th:action="@{/delete-group}">
			<input type="hidden" name="accountId" th:value="${groups.accountId}">
			<input type="submit" value="グループを削除する">
		</form>
		
		<a th:href="@{'/delete-group/' + ${groups.id}}">削除</a>
		
		<!--ーーーーーーーーーーーーーーー-->
	</div>
	
</body>
</html>