<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/header.css}">
<link rel="stylesheet" th:href="@{/css/form.css}">
<title th:text="#{selectGroupPage}"></title>
</head>
<body>
	<nav layout:replace="~{layout/menu::menu}"></nav>

	<div class="center">
		
		<a th:href="@{'/entry-group'}">グループ作成</a>
				
		<div th:text="#{selectGroupAlert}"></div>
				
		<form method="post" th:action="@{/select-group}">
			
				<div th:each="list:${groupList}" >
					<input type="radio" checked th:text="${list.groupName}" th:value="${list.id}" name="id">
					<br><!--th:checked-->
				</div>
			<br>
			<input type="submit" value="グループを開く">
		</form>
	</div>
</body>
</html>