<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/header.css}">
<link rel="stylesheet" th:href="@{/css/form.css}">
<title th:text="#{selectGroupPage}"></title>
</head>
<body>
	<nav layout:replace="~{layout/menu::menu}"></nav>

	<div class="center">
		
		<input type="button" onclick="location.href='./entry-group'" value="グループ作成">
				
		<div th:text="#{selectGroupAlert}"></div>
				
		<form method="post" th:action="@{/home-group}"><!--th:object="${inputForm}"-->
		
				<tr th:each="list: ${groupList}" >
					
					<input type="radio" th:text="${list.groupName}" th:value="${list.groupName}" name="test"><!--th:field="*{}"-->
					<br>
					
				</tr>
				
			<br>
			
			<!--<th:block th:if="${ != null}">-->
				
				<input type="submit" value="グループを開く">
			<!--</th:block>-->
			
		</form>
		
	</div>

</body>
</html>