<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
	<title th:text="#{selectGroupPage}"></title>
</head>
<body>
	<nav class="navbar navbar-expand-md navbar-dark bg-secondary px-3">
		<span class="navbar-brand" th:text="#{photoSharingApp}"></span>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ms-auto d-flex align-items-center">
				<li class="nav-link">
					<a th:href="@{'/edit-account'}" class="btn btn-secondary">パスワード変更</a>
				</li>
				<li class="nav-link">
					<a th:href="@{'/delete-account'}" class="btn btn-secondary">アカウント削除</a>
				</li>
				<li class="navbar-text px-3">
					<span sec:authentication="principal.username"></span>
				</li>
				<li class="nav-item">
					<form method="post" th:action="@{/postlogout}">
						<input type="submit" value="ログアウト" class="btn btn-secondary">
					</form>
				</li>
			</ul>
		</div>
	</nav>

	<div class="container">
		<div class="row">
			<div class="col text-center">
				<a th:href="@{'/entry-group'}" class="btn btn-secondary">グループ作成</a>
		
				<h5 th:text="#{selectGroupAlert}"></h5>
				
				<form method="post" th:action="@{/select-group}">
					<div th:each="list:${groupsList}">
						<input type="radio" th:text="${list.groupName}" th:value="${list.id}" name="id" checked>
						<br>
					</div>
					<th:block th:unless="${groupsList.isEmpty()}">
							<input type="submit" value="グループを開く" class="btn btn-secondary">
					</th:block>
				</form>
			</div>
		</div>
	</div>
</body>
</html>