<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/header.css}">
<link rel="stylesheet" th:href="@{/css/form.css}">
<title>利用者追加</title>
</head>
<body>
	<nav layout:replace="~{layout/menu::menu}"></nav>

	<div class="center">
		<p>追加したい利用者のメールアドレスを入力してください。</p>
		
		<p>エラーメッセージを表示</p>
		
			<form method="post" th:action="@{/add-members}" ><!--th:object="${addMembersForm}"-->
			    <div class="form-group">
			        <label for="user" >メールアドレス</label>
			        <input type="email" ><!--th:field="*{}"-->
			    </div>
		    <input type="submit" value="追加">
		    
			</form>
		 	<input type="button" onclick="location.href='./list-members'" value="戻る">
	</div>
</body>
</html>