<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/header.css}">
<link rel="stylesheet" th:href="@{/css/form.css}">
<title>利用者追加</title>
</head>
<body>
	<nav layout:replace="~{layout/menu::menu}"></nav>

	<div class="center">
		<div th:text="#{addMembersAlert}"></div>	
		
		<p>エラーメッセージを表示</p>
		
			<form method="post" th:action="@{/add-members}" th:object="${addMembersForm}">
			    <div class="form-group">
			        <label for="user" >メールアドレス</label>
			        <input type="email" th:field="*{emailAddress}">
			    </div>
			    
			    <a th:href="@{'/list-members'}">戻る</a>
		    	<input type="submit" value="追加">
			</form>
			
	</div>
</body>
</html>