<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/header.css}">
<link rel="stylesheet" th:href="@{/css/form.css}">
<title>利用者一覧</title>
</head>
<body>
	<nav layout:replace="~{layout/menu::menu}"></nav>

	<div class="center">
		<h3>利用者一覧画面</h3>
		
		<a th:href="@{'/home-group'}">戻る</a><br>
		
		<a th:href="@{'/add-members'}">利用者を追加する</a>
		
		
		<!--繰り返し削除-->
		<!--<form method="post" th:action="@{/delete-members}">
			
				<div th:each="list:${membersList}" >
					<div th:text="${list.accountId}">
						<input type="hidden" th:value="${list.accountId}" name="accountId">
						<input type="submit" value="削除">
					</div>
					<br>
				</div>
		</form>-->
		
	</div>
</body>
</html>