<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
	<title th:text="#{listMembersPage}"></title>
</head>
<body>
	<nav class="navbar navbar-expand-md navbar-dark bg-secondary px-3 mb-3">
		<span class="navbar-brand" th:text="#{photoSharingApp}"></span>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ms-auto d-flex align-items-center">
				<li class="nav-link">
					<a th:href="@{'/edit-account'}" class="btn btn-secondary">パスワード変更</a>
				</li>
				<li class="nav-link">
					<a th:href="@{'/delete-account'}" class="btn btn-secondary">アカウント削除</a>
				</li>
				<li class="navbar-text px-3">
					<span sec:authentication="principal.username"></span>
				</li>
				<li class="nav-item">
					<form method="post" th:action="@{/postlogout}">
						<input type="submit" value="ログアウト" class="btn btn-secondary">
					</form>
				</li>
			</ul>
		</div>
	</nav>

	<div class="container">
		<div class="row d-flex justify-content-center align-items-center">
			<div class="col-md-4 mx-auto">
				
				<div class="text-center">
					
					<div class="row mb-3">
						<h5 th:text="${groups.groupName}"></h5>
					</div>
					
					<div class="row-cols-12 mb-3">
						<a th:href="@{'/home-group'}" class="btn btn-secondary">戻る</a>
					</div>
					
					<div class="row-cols-12 mb-3">
						<th:block th:if="${isAdmin}">
							<a th:href="@{'/add-members'}" class="btn btn-secondary">利用者を追加する</a>
						</th:block>
					</div>
					
					<div class="row mb-3">
						<h5 th:text="#{listMembersAlert}"></h5>
					</div>
					
					<div class="row mb-3">
						<div class="d-flex justify-content-center m-2"> 
							<th:block th:unless="${isAdmin}">
								<span th:text="#{admin}" class="text-primary"></span>
								<span th:text="${adminName}"></span>
							</th:block>
						</div>
					</div>
					
					<div th:each="list:${membersList}">
						<div class="row mb-3">
							<form method="post" th:action="@{/list-members}">
								<div class="d-flex justify-content-center"> 
									<div th:text="${list.accounts?.user?: 'unknown'}" class="m-2"></div>
									<input type="hidden" th:value="${list.id}" name="id">
									
									<th:block th:if="${isAdmin}">
										<input type="submit" value="削除" class="btn btn-secondary">
									</th:block>
								</div>
							</form>
						</div>
						
					</div>
					
				</div>
				
			</div>
		</div>
	</div>
</body>
</html>