<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/form.css}">
	<script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
	<title th:text="#{listMembersPage}"></title>
</head>
<body>
	<nav class="navbar navbar-expand-md navbar-dark bg-secondary">
		<a class="navbar-brand" th:text="#{photoSharingApp}"></a>
		<div class="ml-auto">
			<input type="button" onclick="location.href='./edit-account'" value="パスワード変更" class="btn btn-secondary">
			<input type="button" onclick="location.href='./delete-account'" value="アカウント削除" class="btn btn-secondary">
			<span sec:authentication="principal.username" class="text-light"></span>
			<form method="post" th:action="@{/postlogout}">
				<input type="submit" value="ログアウト" class="btn btn-secondary">
			</form>
		</div>
	</nav>

	<div class="container">
		<div class="row">
			<div class="col text-center">
				<div th:text="${groups.groupName}"></div>
				
				<a th:href="@{'/home-group'}" class="btn btn-secondary">戻る</a><br>
				
				<th:block th:if="${isAdmin}">
					<a th:href="@{'/add-members'}" class="btn btn-secondary">利用者を追加する</a>
				</th:block>
				
				<div th:text="#{listMembersAlert}"></div>
				
				<th:block th:unless="${isAdmin}">
					<span th:text="${adminName}" class="text-primary"></span><br>
				</th:block>
				
				<div th:each="list:${membersList}">
						
					<form method="post" th:action="@{/list-members}">
				
							<!--hiddenとtextを分ける-->
						 <input type="hidden" th:text="${list.Accounts.user}" 
						th:value="${list.Accounts.id}" name="id"><!--Elvis演算子-->
						
						<th:block th:if="${isAdmin}">
							<input type="submit" value="削除" class="btn btn-secondary">
						</th:block>
						
					</form>
					<br>
							
				</div>
			</div>
		</div>
	</div>
</body>
</html>