<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/form.css}">
	<script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
	<title th:text="#{deletePhotoPage}"></title>
</head>
<body>
	
	<div class="container">
		<div class="row">
			<div class="col text-center">
	
				<form method="post" th:action="@{/delete-photo}">
				
					<div th:text="#{deletePhotoAlert}"></div>
					
					<img th:src="@{'/img/' + ${photoData.photo}}">
					
					<a th:href="@{'/list-photo'}" class="btn btn-secondary">キャンセル</a><br>
					
					<input type="hidden" name="id" th:value="${photoData.id}">
				    <input type="submit" value="削除" class="btn btn-secondary">
				</form>
			
			</div>
		</div>
	</div>

</body>
</html>