<!DOCTYPE html>
<html lang="ja"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
	<title th:text="#{deletePhotoPage}"></title>
</head>
<body>
	<nav layout:replace="~{navbar/header-menu::header-menu}"></nav>
	
	<div class="container">
		<div class="row d-flex justify-content-center align-items-center vh-100">
			<div class="col-md-4 mx-auto">
				<form method="post" th:action="@{/delete-photo}" class="text-center">
				
					<h5 th:text="#{deletePhotoAlert}"></h5>
					
					<div class="row my-5">
						<img th:src="@{'/img/' + ${photosData.photo}}">
					</div>
					
					<a th:href="@{'/list-photo'}" class="btn btn-secondary mx-3">キャンセル</a>
					<input type="hidden" name="id" th:value="${photosData.id}">
				    <input type="submit" value="削除" class="btn btn-danger mx-3">
				</form>
			</div>
		</div>
	</div>

</body>
</html>