<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/form.css}">
	
	<!--画像を表示してみる？-->
	<link rel="stylesheet" th:href="@{/static/img}">
	
	<script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
	<title>写真一覧</title>
</head>
<body>
	
	<div class="container">
		<div class="row">
			<div class="col text-center">
	
				<h3>●グループ名を表示</h3>
				
				<a th:href="@{'/select-album'}" class="btn btn-secondary">戻る</a><br>
				
				<h3>●アルバム名を表示</h3>
				
				<div>△写真を追加するボタン？？？</div>
				
				
				<div>ーーー以下登録されたListを表示するだけーーー</div>
				
				<!--？-->
				<img src="https://localhost:8080/static/img">
				
				
				
				<h3>●アカウント名,△画像？,●datetime</h3>
				
				<h3>△保存ボタン？？？</h3>
				<input type="button" onclick="location.href='./delete-photo'" value="●削除" class="btn btn-secondary">
			</div>
		</div>
	</div>
</body>
</html>