<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<!--<link rel="stylesheet" th:href="@{/css/form.css}">-->
	
	<script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
	<title th:text="#{listPhotoPage}"></title>
</head>
<body>
	<nav class="navbar navbar-expand-md navbar-dark bg-secondary">
		<span class="navbar-brand" th:text="#{photoSharingApp}"></span>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<input type="button" onclick="location.href='./edit-account'" value="パスワード変更" class="btn btn-secondary">
				</li>
				<li class="nav-item">
					<input type="button" onclick="location.href='./delete-account'" value="アカウント削除" class="btn btn-secondary">
				</li>
				<li class="navbar-text">
					<span sec:authentication="principal.username" class="text-light"></span>
				</li>
			</ul>
			<form method="post" th:action="@{/postlogout}" class="form-inline">
				<input type="submit" value="ログアウト" class="btn btn-secondary">
			</form>
		</div>
	</nav>
	
	<div class="container my-3">
		<div class="row">
			<div class="col text-center">
	
				<div th:text="${groupName}"></div>
				
				<a th:href="@{'/select-album'}" class="btn btn-secondary">戻る</a><br>
				
				<div th:text="${albumName}"></div>
				
				<form method="post" th:action="@{/list-photo}" enctype="multipart/form-data">
				    <input type="file" name="photo" accept=".jpg, .jpeg, .png">
				    <input type="submit" value="写真を追加する">
				    <th:block th:if="${isError}">
						<div th:text="#{errorMessage}" class="text-danger"></div>
					</th:block>
				</form>
			</div>
		</div>
	</div>
	
	<!--カードデッキを使わず？-->
	
	<div class="container">
		
			<div class="row row-cols-5">
			  
				<div th:each="list:${photosList}" class="card"><!--style="width: 18rem;"-->
					
					<div class="card-body">
						
					<div th:text="'▼' + ${list.Accounts.user}"></div>
					
					<img th:src="@{'/img/' + ${list.photo}}" th:alt="${list.photo}" class="card-img" width="100%" height="100">
			
						<div th:text="${#dates.format(list.createDateTime,'yyyy-MM-dd HH:MM:SS')}" ></div>
						
	  					<a th:href="@{'/img/' + ${list.photo}}" download="" class="btn btn-secondary">保存</a>
					
						<th:block th:if="${isAdmin}">
							<a th:href="@{'/delete-photo/' + ${list.id}}" class="btn btn-secondary">削除</a>
						</th:block>
						
						<th:block th:unless="${isAdmin}">
							<th:block th:if="${list.Accounts.user == username}">
								<a th:href="@{'/delete-photo/' + ${list.id}}" class="btn btn-secondary">削除</a>
							</th:block>
						</th:block>
						
					</div>
				
				</div>
					
			  	
			</div>
		
	</div>
	
</body>
</html>