<!DOCTYPE html>
<html lang="ja"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}" defer></script>
	<title th:text="#{deleteAccountPage}"></title>
</head>

<body>
	<nav layout:replace="~{common/header-nav::header-nav}"></nav>
	
	<div class="p-3 mb-4 border-bottom border-dark bg-light">
		    <div class="fs-3 text-center">アカウント削除</div>
	</div>
	
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-5 mx-auto">
				<form method="post" th:action="@{/delete-account}">
					<div class="text-center">
						<p th:text="#{deleteAccountAlert}" class="fs-5"></p>
						<p th:text="#{deleteAccountMessage}" class="fs-5"></p>
					</div>
					
					<th:block th:if="${isError}">
						<div class="alert alert-danger alert-dismissible fade show">
							<span th:text="#{deleteAccountError}" class="text-danger"></span>
						</div>
					</th:block>	
					
					<div class="text-center">
						<a th:href="@{'/select-group'}" th:text="#{cancelGroupBtn}" class="btn btn-secondary mx-3 my-2"></a>
				    	<input type="submit" th:value="#{deleteBtn}" class="btn btn-danger mx-3 my-2">
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>