<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/header.css}">
<link rel="stylesheet" th:href="@{/css/form.css}">
<title th:text="#{entryAccountPage}"></title>
</head>
<body>
	<nav layout:replace="~{layout/header::header}"></nav>
	
	<!--画面設計書のエラーメッセージの表示箇所を変更 10月30日-->
	
	<div class="center">
		
	<form method="post" th:action="@{/entry-account}" th:object="${entryAccountForm}">
	    <div class="form-group">
	        <label for="user" th:text="#{user}"></label>
	        <input type="text" th:field="*{user}" th:errorclass="is-invalid">
	        <div class="invalid-feedback" th:if="${#fields.hasErrors('user')}" th:errors="*{user}"></div>
	    </div>
	    <p>ーーーーーーーーーーーーーーーーーーーー</p>
	    <div class="form-group">
	        <label for="pass" th:text="#{pass}"></label>
	        <input type="password" th:field="*{pass}" th:errorclass="is-invalid">
	        <div class="invalid-feedback" th:errors="*{pass}"></div>
	    </div>
	    <p>ーーーーーーーーーーーーーーーーーーーー</p>
	    <div class="form-group">
	        <label for="pass" th:text="#{emailAddress}"></label>
	        <input type="email" th:field="*{emailAddress}" th:errorclass="is-invalid">
	        <div class="invalid-feedback" th:if="${#fields.hasErrors('emailAddress')}" th:errors="*{emailAddress}"></div>
	    </div>
	    <p>ーーーーーーーーーーーーーーーーーーーー</p>
	    <input type="button" onclick="location.href='./login'" value="キャンセル">
	    <input type="submit" value="登録">
	</form>
	
	</div>
</body>
</html>