<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="portfolio.PhotoSharingApp.repository.AccountMapper">

	<resultMap type="portfolio.PhotoSharingApp.entity.Account" id="accountsTable">
		<id column="id" property="id" />
		<result column="user" property="username" />
		<result column="pass" property="password" />
		<result column="email_address" property="emailAddress" />
	</resultMap>
	
	<!-- ーーーloginーーー-->
	
	<!-- アカウント名が存在するかを確認● -->
	<select id="getSelectUser" resultMap="accountsTable">
		select *
		from accounts 
		where user = #{username}
	</select>
	
	<!-- ーーーEntryAccountーーー-->
	
	<insert id="insert">
		insert into accounts(
			 user
			,pass
			,email_address
		)VALUES(
			 #{account.username}
			,#{account.password}
			,#{account.emailAddress}
		)
	</insert>
	
	<!-- アカウント名がデータベースに存在するかを確認● -->
	<select id="selectByUser"><!-- getSelectUser(Name) -->
		select user
		from accounts
		where user = #{account.username}
	</select>
	
	<!-- メールアドレスがデータベースに存在するかを確認 -->
	<select id="getSelectEmailAddress">
		select email_address
		from accounts
		where email_address = #{account.emailAddress}
	</select>
	
	<!-- ーーーEditAccountーーー -->
	
	<update id="update">
		update accounts
		set pass = #{account.password}
		where id = #{account.id}
	</update>
	
	<!-- ーーーDeleteAccountーーー -->
	
	<select id="groupAdmin" resultType="Integer">
		select account_id
		from `groups`
		where account_id = #{id}
		limit 1
	</select>
	
	<delete id="delete">
		delete from accounts
		where id = #{id}
	</delete>
	
	<!-- 比較を作成 -->
	<select id="selectUserId" resultType="Integer">
		select id
		from accounts
		where id = #{id}
	</select>
	
</mapper>