<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="portfolio.PhotoSharingApp.repository.AccountMapper">

	<resultMap type="portfolio.PhotoSharingApp.entity.Account" id="accountsTable">
		<id column="id" property="id" />
		<result column="user" property="username" />
		<result column="pass" property="password" />
		<result column="email_address" property="emailAddress" />
	</resultMap>
	
	<insert id="insert">
		insert into accounts(
			 user
			,pass
			,email_address
		)VALUES(
			 #{account.username}
			,#{account.password}
			,#{account.emailAddress}
		)
	</insert>
	
	<update id="update">
		update accounts
		set pass = #{account.password}
		where id = #{account.id}
	</update>
	
	<delete id="delete">
		delete from accounts
		where id = #{userId}
	</delete>
	
	<!-- ーーーーーーーーーーーーーーーーーーーー -->
	
	<select id="selectAccount" resultMap="accountsTable">
		select *
		from accounts 
		where user = #{username}
	</select>
	
	<select id="selectByUserId" resultType="Integer">
		select id
		from accounts
		where email_address = #{emailAddress}
	</select>
	
	<select id="selectByUsername" resultType="String">
		select user
		from accounts
		where user = #{username}
	</select>
	
	<select id="selectByEmailAddress" resultType="String">
		select email_address
		from accounts
		where email_address = #{emailAddress}
	</select>
	
	<select id="selectByEmailAddress2" resultType="String">
		select email_address
		from accounts
		where id = #{adminId}
	</select>
	
</mapper>