<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="portfolio.PhotoSharingApp.repository.AlbumMapper">

	<resultMap type="portfolio.PhotoSharingApp.entity.Albums" id="AlbumsTable">
		<id column="id" property="id" />
		<result column="group_id" property="groupId" />
		<result column="album_name" property="albumName" />
	</resultMap>
	
	<!-- アルバム名登録 -->
	<insert id="insertAlbum">
		insert into albums(
			 group_id
			,album_name
		)VALUES(
			 #{albums.groupId}
			,#{albums.albumName}
		)
	</insert>
	
	<!-- アルバム一覧を取得 -->
	<select id="selectAlbumList" resultMap="AlbumsTable">
		select albums.id,album_name
		from albums
		left join `groups`
		on group_id = groups.id
		where group_id = #{id}
	</select>
	
	<select id="selectAlbum" resultMap="AlbumsTable">
		select id,album_name
		from albums
		where id = #{id}
	</select>
	
	<delete id="deleteAlbum">
		delete from albums
		where id = #{id}
	</delete>
	
</mapper>