<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="portfolio.PhotoSharingApp.repository.AlbumMapper">

	<resultMap type="portfolio.PhotoSharingApp.entity.Album" id="albumsTable">
		<id column="id" property="id" />
		<result column="group_id" property="groupId" />
		<result column="album_name" property="albumName" />
		<result column="create_date_time" property="createDateTime"/>
		<association property="photo" resultMap="photosTable" columnPrefix="photos_"/>
	</resultMap>
	
	<resultMap type="portfolio.PhotoSharingApp.entity.Photo" id="photosTable">
		<id column="id" property="id"/>
		<result column="album_id" property="albumId"/>
	</resultMap>
	
	<insert id="insert">
		insert into albums(
			 group_id
			,album_name
		)VALUES(
			 #{album.groupId}
			,#{album.albumName}
		)
	</insert>
	
	<delete id="delete">
		delete from albums
		where id = #{albumId}
	</delete>
	
	<!-- ーーーーーーーーーーーーーーーーーーーー -->
	
	<select id="getSelectAlbums" resultMap="albumsTable">
		select albums.id
			,album_name
			,albums.create_date_time
			,count(photos.album_id) as photos_album_id
		from albums
			left join `groups`
				on group_id = groups.id
			left join `photos`
				on albums.id = photos.album_id
		where group_id = #{groupId}
		group by albums.id
			,album_name
			,albums.create_date_time
			,photos.album_id;
	</select>
	
	<select id="getSelectCountAlbum" resultType="Integer">
		select count(*)
		from albums
			left join `groups`
			on group_id = groups.id
		where group_id = #{groupId}
	</select>
	
	<select id="getSelectAlbum" resultMap="albumsTable">
		select id,album_name
		from albums
		where id = #{albumId}
	</select>
	
	<select id="getSelectGroupsAccountId" resultType="Integer">
		select groups.account_id
		from albums
			left join `groups`
			on group_id = groups.id
		where albums.id = #{albumId}
	</select>
	
</mapper>