<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="portfolio.PhotoSharingApp.repository.CommentMapper">

	<resultMap type="portfolio.PhotoSharingApp.entity.Comments" id="CommentsTable">
		<id column="id" property="id"/>
		<result column="group_id" property="groupId"/>
		<result column="comment" property="comment"/>
		<result column="account_id" property="accountId"/>
		<result column="create_date_time" property="createDateTime"/>
		<association property="accounts" resultMap="accountsTable" columnPrefix="accounts_"/>
	</resultMap>
	
	<resultMap type="portfolio.PhotoSharingApp.entity.Accounts" id="accountsTable">
		<id column="id" property="id" />
		<result column="user" property="user" />
	</resultMap>
	
	<!-- ーListCommentーーーーーーーーーーーーーーーーー -->
	
	<!-- このグループのcommentsテーブルの情報とアカウント名を取得 -->
	<select id="selectCommentList" resultMap="CommentsTable">
		select comments.id
			,accounts.user as accounts_user
			,comments.create_date_time
			,comments.comment
		from comments
			left join accounts
			on comments.account_id = accounts.id
			where comments.group_id = #{id}
			order by comments.id desc
			
	</select>
	
	<!-- コメント情報を追加 -->
	<insert id="insertComment">
		insert into comments(
			 group_id
			,comment
			,account_id
		)VALUES(
			 #{comments.groupId}
			,#{comments.comment}
			,#{comments.accountId}
		)
	</insert>
	
	<!-- ーDeleteCommentーーーーーーーーーーーーーーーーー -->
	
	<!-- このidとコメントを取得 -->
	<select id="select" resultMap="CommentsTable">
		select id,comment
		from comments
		where id = #{id}
	</select>
	
	<!-- コメントの削除 -->
	<delete id="deleteComment">
		delete from comments
		where id = #{id}
	</delete>

</mapper>