<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="portfolio.PhotoSharingApp.repository.GroupMapper">

	<resultMap type="portfolio.PhotoSharingApp.entity.Group" id="GroupsTable">
		<id column="id" property="id" />
		<result column="group_name" property="groupName" />
		<result column="account_id" property="accountId" />
	</resultMap>
	
	<insert id="insert">
		insert into `groups`(
			 group_name
			,account_id
		)VALUES(
			 #{group.groupName}
			,#{group.accountId}
		)
	</insert>
	
	<delete id="delete">
		delete from `groups`
		where id = #{groupId}
	</delete>
	
	<!-- ーーーーーーーーーーーーーーーーーーーー -->
	
	<!-- ここを修正すると -->
	<select id="selectGroups" resultMap="GroupsTable">
		select distinct groups.id,group_name
		from `groups`
			left join groups_members
			on groups.id = groups_members.group_id
		where groups.account_id = #{id}
		or groups_members.account_id = #{id}
	</select>
	
	<!-- ここも修正 -->
	<select id="selectById" resultMap="GroupsTable">
		select *
		from `groups`
		where id = #{groupId}
	</select>
	
	<select id="selectAccountByUsername" resultType="String">
		select accounts.user
		from `groups`accounts
			left join accounts
			on groups.account_id = accounts.id
		where groups.id = #{id}
	</select>
	
	<select id="selectByGroupName" resultType="String">
		select group_name
		from `groups`
		where group_name = #{groupName}
	</select>
	
	<select id="selectGroupByAccountId" resultType="Integer">
		select account_id
		from `groups`
		where id = #{groupId}
	</select>
	
	<!-- 修正 -->
	<select id="selectByAccountId" resultType="Integer">
		select account_id
		from `groups`
		where account_id = #{id}
		limit 1
	</select>
	
</mapper>