<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="portfolio.PhotoSharingApp.repository.GroupMapper">

	<resultMap type="portfolio.PhotoSharingApp.entity.Group" id="GroupsTable">
		<id column="id" property="id" />
		<result column="group_name" property="groupName" />
		<result column="account_id" property="accountId" />
	</resultMap>
	
	<!-- ーーーEntryGroupーーー -->
	
	<insert id="insert">
		insert into `groups`(
			 group_name
			,account_id
		)VALUES(
			 #{group.groupName}
			,#{group.accountId}
		)
	</insert>
	
	<!-- データベースに登録済のグループ名と重複していないか確認 -->
	<select id="existsByGroupName" resultType="String">
		select group_name
		from `groups`
		where group_name = #{group.groupName}
	</select>
	
	<!-- ーーーSelectGroupーーー -->
	
	<!-- 自身が所属しているグループのIDとグループ名の一覧を取得 -->
	<select id="selectMyGroups" resultMap="GroupsTable">
		select distinct groups.id,group_name
		from `groups`
			left join groups_members
			on groups.id = groups_members.group_id
		where groups.account_id = #{id}
		or groups_members.account_id = #{id}
	</select>
	
	<select id="selectById" resultMap="GroupsTable">
		select *
		from `groups`
		where id = #{id}
	</select>
	
	<!-- ーーーDeleteGroupーーー -->
	
	<delete id="delete">
		delete from `groups`
		where id = #{id}
	</delete>
	
	<!-- 比較を作成 -->
	<select id="existsGroupByAccountId" resultType="Integer">
		select account_id
		from `groups`
		where id = #{id}
	</select>
	
</mapper>