<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="portfolio.PhotoSharingApp.repository.GroupMapper">

	<resultMap type="portfolio.PhotoSharingApp.entity.Groups" id="GroupsTable">
		<id column="id" property="id" />
		<result column="group_name" property="groupName" />
		<result column="account_id" property="accountId" />
	</resultMap>
	
	<!-- グループ名登録 -->
	<insert id="insertGroup">
		insert into `groups`(
			 group_name
			,account_id
		)VALUES(
			 #{groups.groupName}
			,#{groups.accountId}
		)
	</insert>
	
	<!-- 重複確認 -->
	<select id="selectGroupData" resultType="String">
		select group_name
		from `groups`
		where group_name = #{groups.groupName}
	</select>
	
	<!-- ユーザIDからグループIDを取得 -->
	<select id="selectByGroupId" resultType="Integer">
		select id
		from `groups`
		where account_id = #{id}
	</select>
	
	<!-- 自身が参加してるグループを取得 -->
	<select id="selectGroupList" resultMap="GroupsTable">
		select groups.id,group_name
		from `groups`
			left join groups_members
			on groups.id = groups_members.group_id
		where groups_members.account_id = #{id}
	</select>
	
	<select id="selectGroups" resultMap="GroupsTable">
		select *
		from `groups`
		where id = #{id}
	</select>
	
	<!-- 削除 -->
	<delete id="deleteGroup">
		delete from `groups`
		where id = #{id}
	</delete>
	
	<select id="groupAdmin" resultType="Integer">
		select account_id
		from `groups`
		where account_id = #{id}
		limit 1
	</select>
	
</mapper>