<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="portfolio.PhotoSharingApp.repository.MembersMapper">

	<resultMap type="portfolio.PhotoSharingApp.entity.Members" id="MembersTable">
		<id column="id" property="id" />
		<result column="group_id" property="groupId" />
		<result column="account_id" property="accountId" />
		<collection property="groups" resultMap="GroupsTable" columnPrefix="groups_"/>
		<collection property="accounts" resultMap="AccountsTable" columnPrefix="accounts_"/>
	</resultMap>
	
	<resultMap type="portfolio.PhotoSharingApp.entity.Groups" id="GroupsTable">
		<id column="id" property="id" />
		<result column="group_name" property="groupName" />
		<result column="account_id" property="accountId" />
		<collection property="accounts" resultMap="AccountsTable" columnPrefix="accounts_"/>
	</resultMap>
	
	<resultMap type="portfolio.PhotoSharingApp.entity.Accounts" id="AccountsTable">
		<id column="id" property="id" />
		<result column="user" property="user" />
		<result column="pass" property="pass" />
		<result column="email_address" property="emailAddress"/>
	</resultMap>
	
	<!-- ーーーAddMembersーーー -->
	
	<!-- メールアドレスを使用してアカウントIdが存在するかを確認 -->
	<select id="selectByAccountsId" resultType="String">
		select email_address
		from accounts
		where email_address = #{accounts.emailAddress}
	</select>
	
	<!-- このメールアドレスは、このグループ内にいるメンバや管理者のアドレスが
	データベースで重複していないかを確認 -->
	<select id="selectMembersId" resultType="Integer">
		select groups_members.id
		from groups_members
			left join accounts
				on groups_members.account_id = accounts.id
			where accounts.email_address = #{accounts.emailAddress}
			and (groups_members.group_id = #{groups.id}
				or groups_members.account_id = #{groups.accountId})
	</select>
	
	<!-- メールアドレスを使用してアカウントIDを取得する -->
	<select id="selectAccountData3">
		select id
		from accounts
		where email_address = #{emailAddress}
	</select>
	
	<!-- グループのIDとアカウントのIDを追加する -->
	<insert id="insertMembers">
		insert into groups_members(
			 group_id
			,account_id
		)VALUES(
			 #{members.groupId}
			,#{members.accountId}
		)
	</insert>
	
	<!-- ーーーListMembersーーー -->
	
	<!-- このグループのメンバリストを取得する -->
	<select id="selectMembersList" resultMap="MembersTable">
		select groups_members.id
				,groups.group_name as groups_group_name
				,accounts.user as accounts_user
		from groups_members
			left join `groups`
				on groups_members.group_id = groups.id
				and (groups_members.account_id != groups.account_id
				or groups_members.account_id is null)
			left join accounts
				on groups_members.account_id = accounts.id
			where groups.id = #{id}
	</select>
	
	<!-- 管理者名を取得 -->
	<select id="selectByUserName2">
		select user
		from accounts
		left join `groups`
		on accounts.id = groups.account_id
		where groups.id = #{id}
	</select>
	
	<!-- グループ利用者IDとその名前を取得 -->
	<select id="selectMembersName" resultMap="MembersTable">
		select groups_members.id
				,accounts.user as accounts_user
		from groups_members
			left join accounts
			on groups_members.account_id = accounts.id
		where groups_members.id = #{id}
	</select>
	
	<!-- ーーーDeleteMembersーーー -->
	
	<!-- グループから利用者を削除 -->
	<delete id="deleteMembersId">
		delete from groups_members
			where id = #{id}
	</delete>
	
</mapper>