<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="portfolio.PhotoSharingApp.repository.MemberMapper">

	<resultMap type="portfolio.PhotoSharingApp.entity.Member" id="MembersTable">
		<id column="id" property="id" />
		<result column="group_id" property="groupId" />
		<result column="account_id" property="accountId" />
		<association property="group" resultMap="GroupsTable" columnPrefix="groups_"/>
		<association property="account" resultMap="AccountsTable" columnPrefix="accounts_"/>
	</resultMap>
	
	<resultMap type="portfolio.PhotoSharingApp.entity.Account" id="AccountsTable">
		<id column="id" property="id" />
		<result column="user" property="username" />
		<result column="pass" property="password" />
		<result column="email_address" property="emailAddress"/>
	</resultMap>
	
	<resultMap type="portfolio.PhotoSharingApp.entity.Group" id="GroupsTable">
		<id column="id" property="id" />
		<result column="group_name" property="groupName" />
		<result column="account_id" property="accountId" />
		<association property="account" resultMap="AccountsTable" columnPrefix="accounts_"/>
	</resultMap>
	
	<insert id="insert">
		insert into groups_members(
			 group_id
			,account_id
		)VALUES(
			 #{member.groupId}
			,#{member.accountId}
		)
	</insert>
	
	<delete id="delete">
		delete from groups_members
		where id = #{memberId}
	</delete>
	
	<!-- ーーーーーーーーーーーーーーーーーーーー -->
	
	<select id="selectMembers" resultMap="MembersTable">
		select groups_members.id
			,groups.group_name as groups_group_name
			,accounts.user as accounts_user
		from groups_members
			left join `groups`
				on groups_members.group_id = groups.id
				and (groups_members.account_id != groups.account_id
				or groups_members.account_id is null)
			left join accounts
				on groups_members.account_id = accounts.id
		where groups.id = #{groupId}
	</select>
	
	<select id="selectCountMembers" resultType="Integer">
		select count(accounts.user)
		from groups_members
			left join `groups`
				on groups_members.group_id = groups.id
			left join accounts
				on groups_members.account_id = accounts.id
		where groups.id = #{groupId}
	</select>
	
	<select id="selectMember" resultMap="MembersTable">
		select groups_members.id
			,accounts.user as accounts_user
		from groups_members
			left join accounts
			on groups_members.account_id = accounts.id
		where groups_members.id = #{memberId}
	</select>
	
	<select id="selectById" resultType="Integer">
		select groups_members.id
		from groups_members
			left join accounts
			on groups_members.account_id = accounts.id
		where accounts.email_address = #{email}
			and (groups_members.group_id = #{group.id}
			or groups_members.account_id = #{group.accountId})
	</select>
	
	<select id="selectByGroupsAccountId" resultType="Integer">
		select groups.account_id
		from groups_members
			left join `groups`
			on group_id = groups.id
		where groups_members.id = #{memberId}
	</select>
	
</mapper>