<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="portfolio.PhotoSharingApp.repository.PhotoMapper">

	<resultMap type="portfolio.PhotoSharingApp.entity.Photos" id="PhotosTable">
		<id column="id" property="id"/>
		<result column="album_id" property="albumId"/>
		<result column="photo" property="photo"/>
		<result column="account_id" property="accountId"/>
		<result column="create_date_time" property="createDateTime"/>
		<association property="accounts" resultMap="accountsTable" columnPrefix="accounts_"/>
	</resultMap>
	
	<resultMap type="portfolio.PhotoSharingApp.entity.Accounts" id="accountsTable">
		<id column="id" property="id" />
		<result column="user" property="user"/>
	</resultMap>
	
	<insert id="insertPhoto">
		insert into photos(
			 album_id
			,photo
			,account_id
		)VALUES(
			 #{photos.albumId}
			,#{photos.photo}
			,#{photos.accountId}
		)
	</insert>
	
	<select id="selectPhotoList" resultMap="PhotosTable">
		select 
		<!-- アカウント名 Accountsテーブル
		photo(パス)
		DateTime -->
		accounts.user as accounts_user
		,photo
		,photos.create_date_time
		from photos
			left join accounts
			on photos.account_id = accounts.id
		<!-- where album_id = #{albumId} -->
	</select>

</mapper>