<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="portfolio.PhotoSharingApp.repository.PhotoMapper">

	<resultMap type="portfolio.PhotoSharingApp.entity.Photo" id="PhotosTable">
		<id column="id" property="id"/>
		<result column="album_id" property="albumId"/>
		<result column="photo" property="photo"/>
		<result column="account_id" property="accountId"/>
		<result column="create_date_time" property="createDateTime"/>
		<association property="account" resultMap="accountsTable" columnPrefix="accounts_"/>
	</resultMap>
	
	<resultMap type="portfolio.PhotoSharingApp.entity.Account" id="accountsTable">
		<id column="id" property="id" />
		<result column="user" property="username"/>
	</resultMap>
	
	<insert id="insert">
		insert into photos(
			 album_id
			,photo
			,account_id
		)VALUES(
			 #{photo.albumId}
			,#{photo.photo}
			,#{photo.accountId}
		)
	</insert>
	
	<delete id="delete">
		delete from photos
		where id = #{photoId}
	</delete>
	
	<select id="selectPhotoItems" resultMap="PhotosTable">
		select 
		photos.id
		,accounts.user as accounts_user
		,photo
		,photos.create_date_time
		from photos
			left join accounts
				on photos.account_id = accounts.id
			left join albums
				on album_id = photos.id
		    where album_id = #{albumId}
		    order by photos.id desc
	</select>
	
	<select id="selectPhoto" resultMap="PhotosTable">
		select id,photo
		from photos
		where id = #{photoId}
	</select>
	
	<select id="existsByAlbumId" resultType="Integer">
		select album_id
		from photos
		where id = #{photoId}
	</select>
	
	<select id="existsByAccountId" resultType="Integer">
		select account_id
		from photos
		where id = #{photoId}
	</select>
</mapper>