<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="portfolio.PhotoSharingApp.repository.UserMapper">

	<resultMap type="portfolio.PhotoSharingApp.entity.Accounts" id="accountsTable">
		<id column="id" property="id" />
		<result column="user" property="user" />
		<result column="pass" property="pass" />
		<result column="email" property="email" />
	</resultMap>
	
	<!-- アカウント登録 -->
	<insert id="insert">
		insert into accounts(
			 user
			,pass
			,email
		)VALUES(
			 #{accounts.user}
			,#{accounts.pass}
			,#{accounts.email}
		)
	</insert>
	
</mapper>