<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="portfolio.PhotoSharingApp.repository.UserMapper">

	<resultMap type="portfolio.PhotoSharingApp.entity.Accounts" id="accountsTable">
		<id column="id" property="id" />
		<result column="user" property="user" />
		<result column="pass" property="pass" />
		<result column="email_address" property="emailAddress" />
	</resultMap>
	
	<!-- アカウント登録 -->
	<insert id="insertAccount">
		insert into accounts(
			 user
			,pass
			,email_address
		)VALUES(
			 #{accounts.user}
			,#{accounts.pass}
			,#{accounts.emailAddress}
		)
	</insert>
	
	<!-- ログイン(アカウント名が存在するか確認) -->
	<select id="getSelectUser" resultMap="accountsTable">
		select *
		from accounts 
		where user = #{user}
	</select>
	
	<!-- パスワード変更 -->
	<update id="updateAccount">
		update accounts
		set pass = #{accounts.pass}
		where id = #{accounts.id}
	</update>
	
	<!-- アカウントを削除 -->
	<delete id="deleteAccount">
		delete from accounts
		where id = #{accounts.id}
	</delete>
	
	<!-- 重複確認 -->
	<select id="selectAccountsData1">
		select user
		from accounts
		where user = #{accounts.user}
	</select>
	
	<select id="selectAccountsData2">
		select email_address
		from accounts
		where email_address = #{accounts.emailAddress}
	</select>
	<!-- ーーーーーーー -->
	<select id="selectAccountData3">
		select id
		from accounts
		where email_address = #{emailAddress}
	</select>
	
	<select id="selectByAccountsId" resultType="String">
		select email_address
		from accounts
		where email_address = #{accounts.emailAddress}
	</select>
	
	<!-- idからuserNameを取得 -->
	<select id="selectByUserName">
		select id,user
		from accounts
		where id = #{id}
	</select>
	
	<!-- グループのIDからアカウントIDを紐づけて管理者名を取得 -->
	<select id="selectByUserName2">
		select user
		from accounts
		left join `groups`
		on accounts.id = groups.account_id
		where groups.id = #{id}
	</select>
	
	
</mapper>