<!DOCTYPE html>
<html lang="ja" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layout}"
	>
<head>
<meta charset="UTF-8">
</head>
<body>
	<nav layout:fragment="header-nav" class="navbar navbar-expand-lg navbar-dark bg-dark p-2">
		<span class="navbar-brand fs-3 fw-bold m-2" th:text="#{photoSharingApp}"></span>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav fs-5 me-auto">
		        <li class="nav-item">
					<a th:href="@{'/select-group'}" th:text="#{cancelGroupBtn}" class="nav-link" th:classappend="${isActiveSelectGroup} ? 'active' : ''" aria-current="page"></a>
		        </li>
		        
		        <li class="nav-item">
					<a th:href="@{'/create-group'}" th:text="#{createGroupBtn}" class="nav-link" th:classappend="${isActiveCreateGroup} ? 'active' : ''" aria-current="page"></a>
				</li>
			</ul>
			
			<ul class="navbar-nav fs-5">
				<li class="nav-item dropdown">
					 <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					    <span sec:authentication="principal.username"></span>
					 </a>
					  
					 <ul class="dropdown-menu dropdown-menu-end">
					    <li class="dropdown-item">
							<a th:href="@{/update-account}" th:text="#{updatePasswordBtn}" class="nav-link text-success-emphasis"></a>	
						</li>
					    <li class="dropdown-item">
							<!-- Button trigger modal -->
							<button type="button" th:text="#{deleteAccountBtn}" 
							data-bs-toggle="modal" data-bs-target="#delete" class="nav-link text-danger-emphasis"></button>
							<!-- /Button trigger modal -->
						</li>
						
					    <li><hr class="dropdown-divider"></li>
					    <li class="dropdown-item">
							<form method="post" th:action="@{/postlogout}">
								<input type="submit" th:value="#{logoutBtn}" class="nav-link text-light-emphasis">
							</form>
						</li>
					 </ul>
				 </li>
			</ul>
		</div>
		
		<!-- Modal --><!--delete-->
		<div class="modal fade" id="delete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
				
		      <div class="modal-header">
		        <h1 th:text="#{deleteAccountAlert}" class="modal-title fs-5" id="exampleModalLabel"></h1>
		        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		       	
		      </div>
		      
		      <div class="modal-body">
				<p th:text="#{deleteAccountMessage}" class="fs-5"></p>
				
		        <th:block th:if="${isError}">
					<div class="alert alert-danger alert-dismissible fade show">
						<span th:text="#{deleteAccountError}" class="text-danger"></span>
					</div>
				</th:block>
		      </div>
		      
		      <div class="modal-footer">
				  <form method="post" th:action="@{/delete-account}">
					<a th:href="@{'/select-group'}" th:text="#{cancelGroupBtn}" class="btn btn-secondary mx-3 my-2"></a>
			    	<input type="submit" th:value="#{deleteBtn}" class="btn btn-danger mx-3 my-2">
				  </form>
		      </div>
		    </div>
		  </div>
		</div>
		<!-- /Modal -->
		
	</nav>
</body>
</html>