<!DOCTYPE html>
<html lang="ja" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layout}"
	>
<head>
<meta charset="UTF-8">
</head>
<body>
	<nav layout:fragment="header-nav" class="navbar navbar-expand-lg navbar-dark bg-dark p-2">
		<span class="navbar-brand m-2" th:text="#{photoSharingApp}"></span>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		
		<!--ーーーーーーーーーーグループ要素ーーーーーーーーーー-->
		 <div class="collapse navbar-collapse" id="navbarNav">
	      	<ul class="navbar-nav">
		        <li class="nav-item">
		         <!-- <a class="nav-link active" aria-current="page" href="#">グループ作成のナビ</a>-->
		          <a th:href="@{'/create-group'}" th:text="#{createGroupBtn}" class="nav-link btn btn-success mb-3" ></a>
		        </li>
		        <!--<li class="nav-item">
		          <a class="nav-link" href="#">グループ削除</a>
		        </li>-->
		        
	      	</ul>
   		 </div>
   		 <!--ーーーーーーーーーーーーーーーーーーーー-->
		
		
		<!--↓justify-content-->
		<div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
			
			<div class="dropdown">
			  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
			    <span sec:authentication="principal.username" class="text-light"></span>
			  </button>
			  
			  <ul class="dropdown-menu dropdown-menu-lg-end">
			    <li>
					<a th:href="@{/update-account}" th:text="#{updatePasswordBtn}" class="dropdown-item text-success"></a>	
				</li>
			    <li>
					<a th:href="@{/delete-account}" th:text="#{deleteAccountBtn}" class="dropdown-item text-danger"></a>
				</li>
			    <li><hr class="dropdown-divider"></li>
			    <li>
					<form method="post" th:action="@{/postlogout}">
						<input type="submit" th:value="#{logoutBtn}" class="dropdown-item m-2">
					</form>
				</li>
			  </ul>
			</div>
			
		</div>
	</nav>
</body>
</html>