<!DOCTYPE html>
<html lang="ja" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layout}"
	>
<head>
<meta charset="UTF-8">
</head>
<body>
	<nav layout:fragment="header-nav" class="navbar navbar-expand-lg navbar-dark bg-dark p-2">
		<span class="navbar-brand fs-4 fw-bold m-2" th:text="#{photoSharingApp}"></span>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		
		<a th:href="@{'/select-group'}" th:text="#{cancelGroupBtn}" class="btn btn-secondary"></a>
		
		<!--ドロップダウン-->
		<div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
			
			<div class="dropdown">
			  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
			    <span sec:authentication="principal.username" class="text-light"></span>
			  </button>
			  
			  <ul class="dropdown-menu dropdown-menu-lg-end">
			    <li class="dropdown-item">
					<a th:href="@{/update-account}" th:text="#{updatePasswordBtn}" class="nav-link text-success"></a>	
				</li>
			    <li class="dropdown-item">
					<a th:href="@{/delete-account}" th:text="#{deleteAccountBtn}" class="nav-link text-danger"></a>
				</li>
			    <li><hr class="dropdown-divider"></li>
			    <li class="dropdown-item">
					<form method="post" th:action="@{/postlogout}">
						<input type="submit" th:value="#{logoutBtn}" class="nav-link text-secondary">
					</form>
				</li>
			  </ul>
			</div>
			
		</div>
	</nav>
</body>
</html>