<!DOCTYPE html>
<html lang="ja" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layout}"
	>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
	<title></title>
</head>

<body>
	<div layout:fragment="menu"  class="bg-light">
		  <div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary" style="width: 280px;">
		    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
		      <svg class="bi me-2" width="40" height="32" aria-hidden="true"><use xlink:href="#bootstrap"/></svg>
		      <span class="fs-4">サイドバー</span>
		    </a>
		    <hr>
		    <ul class="nav nav-pills flex-column mb-auto">
		      <li class="nav-item">
		        <a href="#" class="nav-link active" aria-current="page">
		          <svg class="bi me-2" width="16" height="16" aria-hidden="true"><use xlink:href="#home"/></svg>
		          利用者一覧
		        </a>
		      </li>
		      <li>
		        <a href="#" class="nav-link link-body-emphasis">
		          <svg class="bi me-2" width="16" height="16" aria-hidden="true"><use xlink:href="#speedometer2"/></svg>
		          アルバムを使用する
		        </a>
		      </li>
		      <li>
		        <a href="#" class="nav-link link-body-emphasis">
		          <svg class="bi me-2" width="16" height="16" aria-hidden="true"><use xlink:href="#table"/></svg>
		          掲示板を使用する
		        </a>
		      </li>
		      <li>
		        <a href="#" class="nav-link link-body-emphasis">
		          <svg class="bi me-2" width="16" height="16" aria-hidden="true"><use xlink:href="#people-circle"/></svg>
		          グループを削除する
		        </a>
		      </li>
		    </ul>
		    <hr>
		  </div>
	</div>
</body>
</html>

