<!DOCTYPE html>
<html lang="ja" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layout}"
	>
<head>
	<meta charset="UTF-8">
</head>

<body>
	<div layout:fragment="menu">
		 <div class="d-flex flex-column flex-shrink-0 p-3 vh-100">
			 
			<!--グループを選択する撤去-->
				<!--
				<li class="nav-item">
					<a th:href="@{'/select-group'}" th:text="#{cancelGroupBtn}" class="nav-link"></a>
				</li>-->
			<!--ーーーーーーーーーーー-->
			
			<!--<a th:href="@{'/create-group'}" th:text="#{createGroupBtn}" class="btn btn-success mb-3"></a>
		
			<form method="post" th:action="@{/select-group}">
				<select name="id" onchange="submit(this.form)" class="form-select mb-3" requred>
					<option value="" selected disabled>
						グループ選択
					</option>
					
					<div th:each="list: ${groupList}" class="form-check mb-3">
						<option th:value="${list.id}" th:text="${list.groupName}"></option>
					</div>
				</select>
			</form>-->
			
			<div th:text="${group.groupName}" class="fs-4 fw-bold m-2 text-center"></div>
			
			<th:block th:if="${isAdmin}">
				<div th:text="#{adminInfo}" class="text-primary fs-5 mb-3"></div>
			</th:block>
			
			<!--<th:block th:if="${isAdmin}">
				<a th:href="@{'/delete-group/' + ${group.id}}" th:text="#{deleteGroupBtn}" class="btn btn-danger"></a>
			</th:block>-->
			
			<th:block th:if="${display}">
				
			<hr>
				<ul class="nav nav-pills flex-column mb-auto">
				
				<!--<li class="nav-item">
					<a th:href="@{'/home-group'}" class="nav-link active" aria-current="page">グループホーム(未定)</a>
				</li>-->
				
				<li class="nav-item">
					<a th:href="@{'/list-member'}" th:text="#{memberListBtn}" class="nav-link"></a>
				</li>
				
				<li class="nav-item">
					<a th:href="@{'/select-album'}" th:text="#{openAlbumBtn}" class="nav-link"></a>
				</li>
				
				<li class="nav-item">
					<a th:href="@{'/list-comment'}" th:text="#{openBoardBtn}" class="nav-link"></a>
				</li>
				<!--
				<th:block th:if="${isAdmin}">
					<a th:href="@{'/delete-group/' + ${group.id}}" th:text="#{deleteGroupBtn}" class="nav-link link-body-emphasis text-danger"></a>
				</th:block>-->
				
				</ul>
			<hr>
			
			</th:block>
		</div>
	</div>
</body>
</html>