<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layout}">
<head>
<meta charset="UTF-8">
</head>

<body>
	<div layout:fragment="sidebar" class="p-3">
		<div class="text-center">
			<div th:text="${group.groupName}" class="fs-4 fw-bold"></div>

			<th:block th:if="${isAdmin}">
				<div th:text="#{adminInfo}" class="text-primary fs-5"></div>
			</th:block>
		</div>

		<hr>
		<ul class="nav nav-pills flex-column mb-auto">
			<li class="nav-item"><a th:href="@{'/dashboard'}"
				class="nav-link" th:classappend="${isActiveHome} ? 'active' : ''"
				aria-current="page">ダッシュボード</a>
			</li>

			<li class="nav-item"><a th:href="@{'/list-member'}"
				th:text="#{groupMembers}" class="nav-link"
				th:classappend="${isActiveMember} ? 'active' : ''"
				aria-current="page"></a></li>

			<li class="nav-item"><a th:href="@{'/select-album'}"
				th:text="#{openAlbumBtn}" class="nav-link"
				th:classappend="${isActiveAlbum} ? 'active' : ''"
				aria-current="page"></a></li>

			<li class="nav-item"><a th:href="@{'/list-comment'}"
				th:text="#{openBoardBtn}" class="nav-link"
				th:classappend="${isActiveComment} ? 'active' : ''"
				aria-current="page"></a></li>
		</ul>
		<hr>

	</div>
</body>
</html>