<!DOCTYPE html>
<html lang="ja" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}"
	>
<head>
<meta charset="UTF-8">
</head>
<body>
	<nav layout:fragment="header" class="navbar bg-body-tertiary p-2 mb-5">
	    <span class="navbar-brand" th:text="#{photoSharingApp}"></span>
	</nav>
	
	<!--radioボタンclass変更-->
	<!--Bootstrap/utility/textにテキスト改行情報有-->
	<!--h5は見出し 太字はclass fs-->
	<!--中央表示からm-bへ-->
	<!--row-colsのモバイルも追加-->
	
</body>
</html>