<!DOCTYPE html>
<html lang="ja"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layout}"
	>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
	<title th:text="#{deleteMemberPage}"></title>
</head>
<body>
	
	<div layout:fragment="content">
		
		<div class="p-3 mb-4 border-bottom border-dark bg-light">
		    <div class="fs-3 text-center">利用者削除</div>
		</div>
	
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-5 mx-auto text-center">
				
				<div th:text="#{deleteMemberAlert}" class="mb-3 fs-5"></div>	
				
				<div class="row mb-3">
					<div th:text="${memberData.Account?.username?: 'unknown'}" class="fs-5"></div>
				</div>
				
				<form method="post" th:action="@{/delete-member}">
					<a th:href="@{'/list-member'}" th:text="#{cancelBtn}" class="btn btn-secondary mx-3"></a>
					<input type="hidden" name="id" th:value="${memberData.id}" >
					<input type="submit" th:value="#{deleteBtn}" class="btn btn-danger mx-3">
				</form>
			</div>
		</div>
	</div>
	
	</div>
</body>
</html>