<!DOCTYPE html>
<html lang="ja"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layout}"
	>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}" defer></script>
	<title th:text="#{listMemberPage}"></title>
</head>
<body>
	<div layout:fragment="content">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col mx-auto text-center">
					<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-3 mb-3 border-bottom">
				        <div class="fs-2" th:text="#{listMembers}"></div>
				        
				        <div class="btn-toolbar mb-2 mb-md-0">
				          <div class="btn-group me-2">
				           <!--<button type="button" class="btn btn-sm btn-outline-secondary">Share</button>-->
				            <th:block th:if="${isAdmin}">
								<h6>テキストボックス</h6>
								<a th:href="@{'/add-member'}" th:text="#{addMemberBtn}" class="btn btn-outline-secondary"></a>
							</th:block>
				          </div>
				          <!--<button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle d-flex align-items-center gap-1">
				           <svg class="bi"><use xlink:href="#calendar3"></use></svg>
				            This week
				          </button>-->
				        </div>
				    </div>
					
					<th:block th:unless="${isAdmin}">
						<div class="row mb-3">
							<div class="d-flex justify-content-center m-2">
								<span th:text="#{admin}" class="text-primary"></span>
								<span th:text="${adminName}"></span>
							</div>
						</div>
					</th:block>
					
					<div th:each="list:${memberList}">
						<div class="row mb-3">
							<div class="d-flex justify-content-center">
								<label th:text="${list.account?.username?: 'unknown'}" class="m-2"></label>
								
								<th:block th:if="${isAdmin}">
									<a th:href="@{'/delete-member/' + ${list.id}}" th:text="#{deleteBtn}" class="btn btn-danger"></a>
								</th:block>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</body>
</html>