<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/form.css}">
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
	<title th:text=#{DeleteCommentPage}></title>
</head>
<body>
	<nav class="navbar navbar-expand-md navbar-dark bg-secondary">
		<span class="navbar-brand" th:text="#{photoSharingApp}"></span>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<input type="button" onclick="location.href='./edit-account'" value="パスワード変更" class="btn btn-secondary">
				</li>
				<li class="nav-item">
					<input type="button" onclick="location.href='./delete-account'" value="アカウント削除" class="btn btn-secondary">
				</li>
				<li class="navbar-text">
					<span sec:authentication="principal.username" class="text-light"></span>
				</li>
			</ul>
			<form method="post" th:action="@{/postlogout}" class="form-inline">
				<input type="submit" value="ログアウト" class="btn btn-secondary">
			</form>
		</div>
	</nav>
	
	<div class="container">
		<div class="row">
			<div class="col text-center">
		
				<form method="post" th:action="@{/delete-comment}">
				
					<div th:text=#{deleteCommentAlert}></div>
					
					<div th:text=${commentsData.comment}></div>
					
					<a th:href="@{'/list-comment'}" class="btn btn-secondary">キャンセル</a>
					
					<input type="hidden" name="id" th:value="${commentsData.id}">
				    <input type="submit" value="削除" class="btn btn-secondary">
				</form>
			</div>
		</div>
	</div>
	
</body>
</html>