<!DOCTYPE html>
<html lang="ja"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
	<title th:text=#{listCommentPage}></title>
</head>
<body>
	<nav layout:replace="~{common/header-menu::header-menu}"></nav>

	<div class="container">
		<div class="row justify-content-center">
			<div class="text-center">
		
				
				<div th:text=${groupName} class="col mb-3 fs-5"></div>
				
				
				<div class="col mb-3">
					<a th:href="@{'/home-group'}" class="btn btn-secondary" th:text="#{cancelBtn1}"></a>
				</div>
				
				<div class="col mb-3">
					<div th:text=#{bulletinBoard} class="fs-5"></div>
				</div>
				
				<div class="col-lg mx-auto mb-3">
					<div class="border border-dark"></div>
				</div>
				
				<div class="col-6 mx-auto">
					<form method="post" th:action="@{/list-comment}" th:object="${listCommentForm}">
					     <div class="row mb-3">
					        <label for="comment"></label>
					        <div class="col-8">
						        <input type="text" th:field="*{comment}" th:errorclass="is-invalid" class="form-control">
						        <div class="invalid-feedback" th:if="${#fields.hasErrors('comment')}" th:errors="*{comment}"></div>
					        </div>
					        <div class="col-4">
					    		<input type="submit" th:value="#{commentBtn}" class="btn btn-primary">
					        </div>
					    </div>
			    	</form>
				</div>
		    </div>
			
			<div class="col-lg mx-auto">
				<div th:each="list:${commentsList}" class="card mb-3">
					<div class="card-body">
						<div class="d-flex justify-content-between align-items-center">
							<div class="d-inline-flex my-2">
								<div th:text="${list.id} + '.'" class="me-3"></div>
								<div th:text="'▼' + ${list.Accounts?.user?: 'unknown'}" class="me-3"></div>
								<div th:text="${#dates.format(list.createDateTime,'yyyy-MM-dd HH:MM:SS')}" class="me-3"></div>
							</div><!--classの無駄が多い-->
							
							<div class="row me-1">
								<th:block th:if="${list.Accounts?.user != null and list.Accounts.user == myUsername}">
									<a th:href="@{'/delete-comment/' + ${list.id}}" class="btn btn-danger" th:text="#{deleteBtn}"></a>
								</th:block>
							</div>
						</div>
						
						<div class="row">
							<div th:text="${list.comment}" class="card-text fs-5"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>