<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/header.css}">
<title>アカウント削除</title>
</head>
<body>
	<nav layout:replace="~{layout/menu::menu}"></nav><!--replaceが読み込み-->
	
	<p>ログイン中のアカウント情報を削除します、よろしいですか？</p>
	
	<p>作成したグループがある場合すべて削除してください</p>
	
	<!--※仮-->
	<span style="color:red">エラーメッセージを赤色で表示</span>
	
	<form method="post" th:action="@{/delete-account}">
		<input type="button" value="キャンセル" onclick="history.back();">
    	<input type="submit" value="削除">
	</form>
	
	<h3>
		※未定(ユーザ自身が作成したグループを削除しないとアカウントの削除を実行できない)
	</h3>
	
</body>
</html>