<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	>
<head>
<meta charset="UTF-8">
<title th:text="#{entryAccountPage}"></title>
</head>
<body>
	<nav layout:replace="~{layout/header::header}"></nav>
	
	<!--※仮-->
	<span style="color:red">
		エラーメッセージを赤色で表示(th:ifに変更？)
	</span>
	
	<form method="post" th:action="@{/entry-account}" th:object="${entryAccountForm}">
	    <div class="form-group">
	        <label for="user" th:text="#{user}"></label>
	        <input type="text" th:field="*{user}" th:errorclass="is-invalid">
	        <div class="invalid-feedback" th:errors="*{user}"></div>
	        
	    </div>
	    <div class="form-group">
	        <label for="pass" th:text="#{pass}"></label>
	        <!--<input type="password" id="pass" name="pass" th:value="${pass}">-->
	        <input type="password" th:field="*{pass}" th:errorclass="is-invalid">
	        <div class="invalid-feedback" th:errors="*{pass}"></div>
	        
	    </div>
	    <div class="form-group">
	        <label for="pass" th:text="#{email}"></label><!--th:field確認-->
	        <input type="email" th:field="*{email_address}" th:errorclass="is-invalid">
	        <div class="invalid-feedback" th:errors="*{email_address}"></div>
	        
	    </div>
	    <input type="button" onclick="location.href='./login'" value="キャンセル">
	    <input type="submit" value="登録">
	</form>

</body>
</html>