<!DOCTYPE html>
<html lang="ja" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
	<title th:text="#{errorPage}"></title>
</head>
<body>
	<nav layout:replace="~{navbar/header::header}"></nav>
	
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-xs mx-auto">
	
				<div class="text-center">
					<p th:text="${status} + ' ' + ${error}" class="fs-3"></p>
						
					<div class="row">
						<div class="col-xs-6 col-lg-4"></div>
						<div class="col-xs-2 col-lg-4">
							<div class="alert alert-danger alert-dismissible fade show">
								<span th:text="${message}" class="text-danger fs-4"></span>
							</div>
						</div>
						<div class="col-xs-6 col-lg-4"></div>
					</div>
					
					<form th:action="@{/postlogout}" method="post">
						<input type="button" onclick="location.href='/login'"
						th:value="ログイン画面に戻る" class="btn btn-secondary">
					</form>
				</div>
				
			</div>
		</div>
	</div>
</body>
</html>