<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>ログイン</title><!--http://localhost:8080/login-->
</head>
<body>
	<nav layout:replace="~{layout/header::header}"></nav>
	
	<p>※エラーメッセージを赤色で表示</p>
	
	<form method="post" th:action="@{/postlogin}"><!--※-->
	    <div class="form-group">
	        <label for="user" >アカウント名</label>
	        <input type="text" id="user" name="user">
	        <!--※入力されていること-->
	    </div>
	    <div class="form-group">
	        <label for="pass" >パスワード</label>
	        <input type="password" id="pass" name="pass">
	        <!--※入力されていること-->
	    </div>
	    <input type="submit" value="ログイン">
	    <input type="button" onclick="location.href='./entry-account'" value="アカウント登録">
	</form>
       
</body>
</html>