<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	>
<head>
<meta charset="UTF-8">
</head>
<body>
	<nav layout:fragment="menu">
		<div class="header">
			<ul class="nav">
				<h3 class="nav-logo">共有写真アプリ(css後から)</h3>
				
				<li><a href="/edit-account" >パスワード変更</a></li>
				
				<li><a href="/delete-account" >アカウント削除</a></li>
				
				<li>アカウント名</li>
				<!--<span sec:authentication="principal.fullName"></span>-->
				
				<li>
				<form method="post" th:action="@{/postlogout}">
					<input type="submit" value="ログアウト">
				</form>
				</li>
			</ul>
		</div>
	</nav>
</body>
</html>