<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/header.css}">
<link rel="stylesheet" th:href="@{/css/form.css}">
<title>アルバム一覧</title>
</head>
<body>
	<nav layout:replace="~{layout/menu::menu}"></nav>

	<div class="center">
		<div th:text="#{groupName}"></div>
		
		<a th:href="@{'/home-group'}">戻る</a><br>
		
		<a th:href="@{'/entry-album'}">アルバムを作成する</a><br>
		
		<div th:text="#{selectAlbumAlert}"></div>
		
		<form method="post" th:action="@{/list-photo}">
			
				<div th:each="list:${albumList}" >
					<input type="radio" th:text="${list.albumName}" th:value="${list.id}" name="id">
					<a th:href="@{'/delete-album/' + ${list.id}}">削除</a>
					<br>
				</div>
			<br>
			<input type="submit" value="アルバムを開く">
		</form>
	</div>
</body>
</html>