<!DOCTYPE html>
<html lang="ja"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
	<title th:text=#{selectAlbumPage}></title>
</head>
<body>
	<nav layout:replace="~{common/header-menu::header-menu}"></nav>

	<div class="container">
		<div class="row justify-content-center">
			<div class="col mx-auto">
				<div class="text-center">
				
					<div th:text="${groupName}" class="col mb-3 fs-5"></div>
					
					<div class="col mb-3">
						<a th:href="@{'/home-group'}" class="btn btn-secondary" th:text="#{cancelBtn1}"></a>
					</div>
					
					<div class="col mb-3">
						<a th:href="@{'/entry-album'}" class="btn btn-success" th:text="#{entryAlbumBtn}"></a>
					</div>
					
					<div th:text="#{selectAlbumAlert}" class="col mb-3 fs-5"></div>
					
					<div class="row">
						<form method="post" th:action="@{/select-album}">
							<div th:each="list:${albumsList}" class="mb-3">
								<div class="d-inline-flex justify-content-center align-items-center">
									<div class="form-check m-2">
										
										<input type="radio" th:id="${list.id}" name="id" th:value="${list.id}" class="form-check-input" checked>
										<label th:for="${list.id}" th:text="${list.albumName}" class="form-check-label"></label>
										
									</div>
										<th:block th:if="${isAdmin}">
											<a th:href="@{'/delete-album/' + ${list.id}}" class="btn btn-danger" th:text="#{deleteBtn}"></a>
										</th:block>
								</div>
							</div>
						
							<div class="row-cols">
								<th:block th:unless="${albumsList.isEmpty()}">
									<input type="submit" th:value="#{openAlbum}" class="btn btn-primary">
								</th:block>
							</div>
						</form>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</body>
</html>