<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/header.css}">
<link rel="stylesheet" th:href="@{/css/form.css}">
<title>アルバム一覧</title>
</head>
<body>
	<nav layout:replace="~{layout/menu::menu}"></nav>

	<div class="center">
		<h3>アルバム一覧画面</h3>
		
		<input type="button" onclick="location.href='./entry-album'" value="アルバム作成に遷移"><br>
		
		<input type="button" onclick="location.href='./delete-album'" value="アルバム削除に遷移"><br>
		
		<input type="button" onclick="location.href='./list-photo'" value="写真一覧に遷移"><br>
		
		<a th:href="@{'/home-group'}">戻る</a>
		
	</div>

</body>
</html>